{% extends 'base.html' %}

{% block title %} Favorite store Page {% endblock %}

{% block content %}

    <h1> This is a favorite store page </h1>

    {% for store in store_array %}
        <ul>
            <li>
                <!-- needs styling here -->
                {{ store['name'] }}:
                <ul>
                <li>Phone:{{store['phone']}}</li>
                <li>Address:{{store['address']}}</li>
                </ul>
            </li>
        </ul>

        <form action="/favorite/delete/{{store['id']}}" method="POST">

            <button>Remove from favorite list</button>
        </form>

    {% endfor %}

  
{% endblock %}


