<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Details of a restaurant</title>
    </head>
    <body> -->


{% extends 'base.html' %}

{% block title %} Signup page {% endblock %}

{% block content %}

        <p>Name of Restaurant: {{ store_data['name'] }}</p>
        <p>Phone number: {{ store_data['display_phone'] }}</p>

        <p>Address: {{ address }}</p>

        {% if hours_unavailable == -1 %}
            <p>Hours of Operations: </p>
            <ul>
                <li>
                    hours not available
                </li>
            </ul>

            {% else %}

            <p>Hours of Operations: </p>
            <ul>
                <li>
                    Monday:
                    <ul>
                        {% for hour in monday_hours %}
                            <li>{{ hour }}</li>
                    {% endfor %}
                    </ul>
               
                </li>
                <li>
                    Tuesday:
                    <ul>
                        {% for hour in tuesday_hours %}
                            <li>{{ hour }}</li>
                    {% endfor %}
                    </ul>
                <li>
                    Wednesday:
                    <ul>
                        {% for hour in wednesday_hours %}
                            <li>{{ hour }}</li>
                    {% endfor %}
                    </ul>             
                <li>
                    Thursday:
                    <ul>
                        {% for hour in thursday_hours %}
                            <li>{{ hour }}</li>
                    {% endfor %}
                    </ul>   
                </li>
                <li>
                    Friday:
                    <ul>
                        {% for hour in friday_hours %}
                            <li> {{ hour }} </li>
                        {% endfor %}  
                    </ul>
                </li>
                <li>
                    Saturday:
                    <ul>
                        {% for hour in saturday_hours %}
                            <li>{{ hour }}</li>
                    {% endfor %}
                    </ul>
                </li>
                <li>
                    Sunday:
                    <ul>
                        {% for hour in sunday_hours %}
                            <li>{{ hour }}</li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>

            {% endif %}
    <!-- </body>
</html> -->
{% endblock %}
