<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Food Service Providers</title>
    </head>
    <body>
        {% if length_of_suggested_stores == 0 %}
            <p>Suggested Restaurant(s): </p>
                <ul>
                    <li>
                        <p>No store suggestion at this time</p>
                    </li>
                </ul>
    
        {% else %}
            <p>Suggested Restaurant(s): </p>
            {% for store in suggested_stores %}
            <ul>
                <!-- <li>{{ store }}</li>  -->
               <li>  <a href="{{ store }}">{{ store }}</a></li> 
            </ul>
            {% endfor %}

        {% endif %}

        {% if length_of_other_stores == 0 %}
            <p>More Restaurant(s) to explore: </p>
                <ul>
                    <li>
                        <p>No store suggestion at this time</p>
                    </li>
                </ul>
    
        {% else %}
            <p>More Restaurant(s) to explore: </p>
            {% for store in other_stores %}
            <ul>
                <!-- <li>{{ store }}</li>  -->
                <li>  <a href="{{ store }}">{{ store }}</a></li> 
            </ul>
            {% endfor %}
            
        {% endif %}

    </body>
</html>