{% extends 'base.html' %}

{% block title %} Landing Page {% endblock %}

{% block content %}
   <div>
        <nav id="nav-bar">
            <a class="links" href="/signup">Sign Up</a>
            <a class="links" href="/login">Login</a>
            <!-- <a class="links" href="logout_page.html">Logout</a>
            <a class="links" href="profile_page.html">Profile</a> -->
        </nav>
    </div>

    <main class="land-page">
    <h1> Find local restaurants and fast food stores </h1>
</main>

{% endblock %}