<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Details of a restaurant</title>
    </head>
    <body>

        <p>Name of Restaurant: {{ store_data['name'] }}</p>
        <p>Phone number: {{ store_data['display_phone'] }}</p>

        <p>Address: {{ address }}</p>

        <p>Hours of Operations:
            <ul>

                <li>
                    <!-- Monday:  {{monday_opening_time}} - {{monday_closing_time}} -->
                    <p> Monday: {{ business_hours_of_monday }} </p>
                </li>
                <li>
                    Tuesday: {{ business_hours_of_tuesday  }}
                </li>
                <li>
                    Wednesday:
                </li>
                <li>
                    Thursday:
                </li>
                <li>
                    Friday:
                </li>
                <li>
                    Saturday:
                </li>

            </ul>

        </p>

    </body>
</html>
