{% extends 'base.html' %}
{% block title %} Profile Page {% endblock %}

{% block content %}
    <div class="display-container">
        <h4 class="page-heading">Update Profile</h4>
        {% for msg in get_flashed_messages() %}
            <p class="messages-display">{{msg}}</p>
        {% endfor %}
        <form method="POST" id="user_form">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
                <p>
                    {{ field.label }}
                    {{ field(placeholder=field.label.text) }}
                </p>
            {% endfor %}
            <p id="password-prompt">To update credentials, please enter your password.</p>
            <p id="password-field">{{ form.password(placeholder="Enter your password to confirm") }}</p>
            <div>
            <button id="update-button" class="btn btn-sm {{'btn-success'}}"> Update</button> 
            </div>
        </form>
    </div>
{% endblock %}

