{% extends 'base.html' %}

{% block title %} Profile Page {% endblock %}

{% block content %}
    <h1> Your Profile</h1>

    {% for msg in get_flashed_messages() %}
        <p>{{msg}}</p>
    {% endfor %}

    <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
            <p>
                {{ field.label }}
                {{ field(placeholder=field.label.text) }}
            </p>
        {% endfor %}

        <p>To update credentials, please enter your password:</p>
            {{ form.password(placeholder="Enter your password to confirm") }}

        <div>
          <button>Edit</button>
        </div>
    </form>

{% endblock %}

