{% extends 'base.html' %}
{% block title %} Signup page {% endblock %}

{% block content %}

    <h2>Signup form</h2>

    {% for msg in get_flashed_messages() %}
        <p>{{msg}}</p>
    {% endfor %}

    <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}
                {{ field }}
            </p>
        {% endfor %}
        <button>Sign up</button>
    </form>

{% endblock %}


