{% extends 'base.html' %}
{% block title %} Signup page {% endblock %}

{% block content %}
    <div class="display-container">
        <h4 class="page-heading">Create a free account</h4>
        {% for msg in get_flashed_messages() %}
            <p class="messages-display">{{msg}}</p>
        {% endfor %}
        <form id="signupform" method="POST">
            {{ form.hidden_tag() }}
 
            {% if form.firstname.widget.input_type != 'hidden' %}
                <p>
                   <p class="form-fields"> 
                        {{ form.firstname.label }}
                        {{ form.firstname }} 
                    </p>
                    <div class="text-danger">{{first_name_error}}</div>           
                </p>
            {% endif %}

            {% if form.lastname.widget.input_type != 'hidden' %}
                <p>
                    <p class="form-fields"> 
                        {{ form.lastname.label }}
                        {{ form.lastname }} 
                    </p>
                    <div class="text-danger">{{ last_name_error }}</div>
                </p>
            {% endif %}

            {% if form.username.widget.input_type != 'hidden' %}
                <p>
                    <p class="form-fields">
                        {{ form.username.label }}
                        {{ form.username }}
                    </p>
                    <div class="text-danger">{{ user_name_error }}</div>
                </p>
                {% endif %}

                {% if form.password.widget.input_type != 'hidden' %}
                <p>
                    <p class="form-fields">
                        {{ form.password.label }}
                        {{ form.password }}
                    </p>
                    <!-- <div class="text-danger">{{ password_error }}</div> -->
                </p>
                {% endif %}

            <button id="sign-up-button" class="btn btn-sm {{'btn-success'}}"> Sign up</button>
        </form>
    </div>
{% endblock %}










