<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp form</title>
</head>
<body>
    <h2>Signup form</h2>

    {% for msg in get_flashed_messages() %}
        <p>{{msg}}</p>
    {% endfor %}

    <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}
                {{ field }}
            </p>
        {% endfor %}

        <button>Sign up</button>
    </form>
</body>
</html>  -->

{% extends 'base.html' %}

{% block title %} Signup page {% endblock %}

{% block content %}
<h2>Signup form</h2>

<!-- In sign up form -->

{% for msg in get_flashed_messages() %}
    <p>{{msg}}</p>
{% endfor %}

<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field }}
        </p>
    {% endfor %}

    <button>Sign up</button>
</form>
{% endblock %}


